



      <form >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name :</label>
            
              <label class="col-sm-2 col-form-label">{{k.firstName}}</label>
              <label class="col-sm-2 col-form-label">Last Name :</label>
              <label class="col-sm-2 col-form-label">{{k.lastName}}</label>
            
        </div>

  

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone Number :</label>
        
          <label class="col-sm-2 col-form-label">{{k.phoneNumber}}</label>
          <label class="col-sm-2 col-form-label">Refered By :</label>
          <label class="col-sm-2 col-form-label">{{k.refBy}}</label>
    </div>

    

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Current Location :</label>
    
      <label class="col-sm-2 col-form-label">{{k.currentLocation}}</label>
      <label class="col-sm-2 col-form-label">Location Preference :</label>
      <label class="col-sm-2 col-form-label">{{k.locationPref}}</label>
</div>



<div class="form-group row">
  <label class="col-sm-2 col-form-label">Total IT Expirence :</label>
  
    <label class="col-sm-2 col-form-label">{{k.itExp}}</label>
   <label class="col-sm-2 col-form-label">Total RPA Expirence :</label>
  
    <label class="col-sm-2 col-form-label">{{k.rpaExp}}</label>
 
</div>



<div class="form-group row">
  <label class="col-sm-2 col-form-label">Level 1 Name :</label>
  
    <label class="col-sm-2 col-form-label">{{k.l1}}</label>
    <label class="col-sm-2 col-form-label">L1 Date of Inteview :</label>
      <label class="col-sm-2 col-form-label">{{k.l1date|date:'dd/MM/yyyy'}}</label>
  
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Level 1 Status :</label>
  
    <label class="col-sm-2 col-form-label">{{k.l1Stat}}</label>
    
      <label class="col-sm-2 col-form-label">L1 Comment :</label>
      <label class="col-sm-2 col-form-label">{{k.l1Com}}</label>
</div>


<div class="form-group row">
  <label class="col-sm-2 col-form-label">Level 2 Name :</label>
  
    <label class="col-sm-2 col-form-label">{{k.l2}}</label>
    <label class="col-sm-2 col-form-label">L2 Date of Inteview :</label>
      <label class="col-sm-2 col-form-label">{{k.l2date|date:'dd/MM/yyyy'}}</label>
      
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">L2 Status :</label>
  <label class="col-sm-2 col-form-label">{{k.l2Stat}}</label>
  <label class="col-sm-2 col-form-label">L2 Comments :</label>
  <label class="col-sm-2 col-form-label">{{k.l2Com}}</label>

</div>




        
        <div class="form-group row">
            <div >
                <button type="submit" class="btn btn-primary" (click)="editContact(k)"> Edit </button>
   
              <button style="margin-left: 10px;" (click)="deleteContact(k)" class="btn btn-danger" >Delete</button>
            </div>
        </div>
    </form>



 
    

